{% extends "base_header.html" %}
{% block content %}
<div class="container-fluid-full">
	<div class="row-fluid">
		<div class="row-fluid">
			<div class="login-box">
				<div class="icons">
					<img src="{{static_url("img/logo.png")}}">
				</div>
				<h2>欢迎登录 AS 系统</h2>
				<form class="form-horizontal" action="/login" method="post">
					<fieldset>
					<div class="input-prepend" title="Username">
						<span class="add-on"><i class="halflings-icon user"></i></span>
						<input class="input-large span10" name="u" id="username" type="text" placeholder="请输入用户帐号"/>
					</div>
					<div class="clearfix"></div>

					<div class="input-prepend" title="Password">
						<span class="add-on"><i class="halflings-icon lock"></i></span>
						<input class="input-large span10" name="p" id="password" type="password" placeholder="请输入用户密码"/>
					</div>
					<div class="clearfix"></div>
					<div class="button-login">	
						<button type="submit" class="btn btn-primary">登入系统</button>
					</div>
					<div class="clearfix"></div>
				</form>
				<hr>
				<!--<h3>Forgot Password?</h3>
				<p> No problem, <a href="#">click here</a> to get a new password. </p>	-->
			</div><!--/span-->
		</div><!--/row-->
	</div><!--/.fluid-container-->
</div><!--/fluid-row-->
<div class="common-modal modal fade" id="common-Modal1" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-content">
		<ul class="list-inline item-details">
			<li><a href="http://themifycloud.com">Admin templates</a></li>
			<li><a href="http://themescloud.org">Bootstrap themes</a></li>
		</ul>
	</div>
</div>
{% end %}
